* {
    margin: 0;
    padding: 0;
}

a:focus a:hover {
    font-style: italic;
}

html {
    background: url(images/pattern-of-fish-skeleton.jpg);
}

/* body style elements */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90%;                 /* body width 960px*/
    margin: 1.04166% auto;      /* 10/960p x100 */
    padding: 20px 4.166%;       /*  40px convert*/
    border: 3px solid black;
    background: linear-gradient(45deg, #b2f3cb 0%, white 50%, #b2f3cb 100%);
    font-size: 100%;
}

/*    navigation    */
#mobile_menu {display: none;}

#nav_menu ul {
    display: flex;              /* flex box nav menu */
    flex-basis: 100%;
    list-style-type: none;      /*rmvd bullets*/
    padding: 15px 10px;
    margin: 0;
    justify-content: space-between;     /* equal amt of space between */
    background-color: #5bc483;
    color: white;
}

#nav_menu ul li {
    margin: 0;              /* note pg 300. set li margins to 0 if use justify-content to space evenly */
}

#nav_menu ul li a {
    text-decoration: none;      /* remove underline from link */
}

#nav_menu ul li a:hover {
    background-color: #509b6d;
}


/*    other    */
.center {
    text-align: center;
    padding-bottom: .5em;
    /*color: #6f3535 ;
    text-shadow: -2px -2px 4px #964c4c; */
}

.footer {
    text-align: center;
    margin: 0;
    padding: 0;
}



/*    ---------- home pg ------------------------------------------------------------ */
/*    main    */
#img_peep {
    border: 5px solid black;
    margin: 2.0833% 0;
    /* 20/960 x100 */

}

/*    section home pg  */
#section_hme {
    float: left;
    width: 50%;
    /* 480/960 x100 */
    margin: 2.0833% 0;
    /* 20/960 x100*/
}

/*    aside home pg   */
aside {
    float: right;
    width: 43.75%;
    /* 420/960 x100 */
}

aside img {
    width: 100%;
    /* img always be as wide as aside */
    max-width: 403.25px;
    /* no larger than */
}

/*    footer home pg  */
footer {
    clear: both;
}

/*    ---------- pg 1 ------------------------------------------------------------ */


/*    ---------- pg 2 ------------------------------------------------------------ */

/*    main pg2    */

/*    section pg2   */
#section_p2 {
    float: left;
    width: 45.833%;
    /* 440/960 x100 */
}

/*    aside pg2   */
#aside_p2 {
    float: right;
    width: 45.833%;
    /* 440/960 x100 */
}

/*    footer    */

#footer_p2 {
    clear: left;
}

/*    ---------- pg 3 ------------------------------------------------------------ */


/*    ---------- media queries ------------------------------------------------------------ */

@media only screen and (max-width:1067px) {
#section_hme{
    width: 95%;
}
}

@media only screen and (max-width:664px){
    #mobile_menu {display: block;}
    .slicknav_menu{
        background-color: #1fa954 !important;
    }
    #nav_menu {
        display: none;
    }
}