a:focus a:hover {
	font-style: italic;
}
*{
    margin: 0;
    padding: 0;
}
html{
    background: url(images/pattern-of-fish-skeleton.jpg);

}
.center{
    text-align: center;
}

body{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1000px;
	margin: 5em auto;
    padding: 40px 40px;
	border: 3px solid black;
    /*background: linear-gradient(to right, #b2f3cb 0%, #44a369  100%)*/
    background: linear-gradient(45deg, #b2f3cb 0%, white 50%, #b2f3cb 100%);
    
}

#img_1{
    float: left;
    margin: 0 2em 1em 0;
}
#img_2 {
    float: right;
}
 /* ------------------------------------------HEADER-----------------------------------*/
 header h1{   
    color: #04410e;
    padding-bottom: 50px;
}
 /* ------------------------------------------MAIN-----------------------------------*/
 main h2 {
    color: #04410e;
}
main h3{
    color: #04410e;
    clear: left;
    line-height: 200%;
    border: thin solid black;
}
main ul{
    padding-bottom: 30px;
}

footer{
    clear: right;
}

/* ------------------------------------------FOOTER-----------------------------------*/
p, ul {
    font-size: 115%;
}

